*{
  
}
#oderlist{
width: 100%;
}
#eidt{
    border-radius: 100px 100px 100px 100px;
    width: 25px;
    background-color: skyblue;
    margin-left: 70px;
}
#div1{
    margin-left: 250px;
}
#h11{
    font-style: oblique;
}
